.about-info{
    font-weight: 400;
}
.about-page{
    height: 100vhvh;
    /* margin-top: 40px; */
    overflow-x: hidden;
    background: url("https://cdn.pixabay.com/photo/2017/03/09/20/53/microphone-2130806_1280.jpg");
}
.about-img{
    border-radius: 50%;
    /* height: 300px; */
    /* width: 300px; */
}